{
  "name": "{{PROJECT_NAME}}",
  "version": "1.0.0",
  "description": "{{PROJECT_DISPLAY_NAME}} - Static Site",
  "scripts": {
    "build": "npm run build:copy",
    "build:copy": "mkdir -p dist && cp -r src/* dist/",
    "dev": "npx http-server src -p 3000",
    "clean": "rm -rf dist"
  },
  "keywords": [],
  "author": "",
  "license": "ISC"
}

